aiohttp
aiosignal
altair
asyncio
anyio
asttokens
async-timeout
attrs
backcall
backoff
blinker
cachetools
certifi
charset-normalizer
chromadb
click
clickhouse-connect
colorama
comm
dataclasses-json
debugpy
decorator
duckdb
entrypoints
executing
fastapi
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
hnswlib
httptools
huggingface-hub
httpx
idna
importlib-metadata
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
langchain
langchain-openai
langchain-community
langchain-chroma
lz4
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
matplotlib-inline
mdurl
monotonic
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
nltk
numexpr
numpy
openai
openapi-schema-pydantic
packaging
plotly
pandas
parso
pickleshare
Pillow
platformdirs
posthog
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycryptodome
pydantic
pydeck
Pygments
Pympler
pypdf
pyrsistent
python-dateutil
python-dotenv
python-docx
pytz
pytz-deprecation-shim
PyYAML==6.0
pyzmq==25.0.2
regex
requests
rich
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smmap
sniffio
SQLAlchemy
stack-data
starlette
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3

validators
watchdog
watchfiles
wcwidth
websockets
yarl
zipp
zstandard
pysqlite3-binary
unstructured>=0.15.0










